:root {
  --gris: #aaa;
  --rojo: #e93d50;
  --rojo-oscuro: #af303f;
  --blanco: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  height: auto;
  align-items: center;
  justify-content:space-between;
  /*azul celeste */ 
/*background: #5a5bf3; 
  background: -moz-linear-gradient(left, #5a5bf3 0%, #91e7d9 100%); 
  background: -webkit-linear-gradient(left, #5a5bf3 0%,#91e7d9 100%); 
  background: linear-gradient(to right, #5a5bf3 0%,#91e7d9 100%);
*/
  background-image:url("../images/_MG_2500 - Dique el Cadillal para fondo de mi SoundSampler.jpg");
 
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;

}
header{
  width: 100%;
  background-color: rgba(255, 2555, 255, 0.3);
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:space-between;
  padding: 0px 5% 0px 5%;
  overflow: hidden; 
  
}
header:hover{
  height: 120px;
  width: 100%;
  background-color: rgba(255, 2555, 255, 0.3);
   display: flex;
   justify-content:space-between;
  flex-direction: row;
  align-items: center;
  padding: 0px 5% 0px 5%;
  transition: 1s; 
}
.about{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 32px;
}
img.autoretratoAutor{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
h1 {
  font-family:fantasy;
  color: var(--blanco);
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 6rem;
  font-weight:normal;
  
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  cursor: url('../images/music_note.svg'), auto;
  background: linear-gradient(#ff4d4d, #3333ff);
  color: white;
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--gris);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}
.tecla:hover{
  cursor: url('../images/music_note.svg'), auto;
  background: linear-gradient(#ff4d4d, #3333ff);
  color: rgb(231, 179, 179);
  height: 123px;
  width:  123px;
}

.tecla.activa,
.tecla:active {
  background-color: var(--rojo);
  border: 10px solid  var(--rojo);
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset;
  
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset, 1px 1px 10px var(--luz);
}

#about{
  height: 68px;
  width: 100%;
  background-color: rgba(255, 2555, 255, 0.1);
  padding: 32px 0px 0px 32px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:space-evenly;
  overflow: hidden;
  border: white;
  
}
#about:hover{
  height: 172px;
  width: 100%;
  background-color: rgba(255, 2555, 255, 0.3);
  display: flex;
  overflow: hidden;
  border: white;
  padding: 0px 5% 0px 5%;
  transition: 1s; 
}
#about h3{
  height: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;

}
#about p{
  height: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}